<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Proyectos de Energía</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center my-5">
    <h1 class="mb-4">Lista de Proyectos de Energía</h1>
    <div class="btn-group" role="group" aria-label="Acciones">
      <a href="/consumo" class="btn btn-primary btn-lg">Comparador</a>
      <a href="/produccion" class="btn btn-success btn-lg">Simulador</a>
    </div>
  </div>
</body>
</html>
