<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla de Consumo de Energía</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="my-4">Tabla de Consumo de Energía</h1>
    <!-- Botón para actualizar datos -->
    <button id="updateButton" class="btn btn-warning mb-3" onclick="updateData()">Actualizar Datos</button>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Zona</th>
          <th>Fecha y Hora</th>
          <th>Nuclear</th>
          <th>Geotérmica</th>
          <th>Biomasa</th>
          <th>Carbón</th>
          <th>Eólica</th>
          <th>Solar</th>
          <th>Hidráulica</th>
          <th>Gas</th>
          <th>Petróleo</th>
          <th>Desconocido</th>
          <th>Hydro Discharge</th>
          <th>Battery Discharge</th>
        </tr>
      </thead>
      <tbody>
        {% for row in consumption_data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
            <td>{{ row[14] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Volver</a>
  </div>
  <script>
    function updateData(){
      fetch('{{ url_for("update_data") }}')
        .then(response => response.text())
        .then(data => {
          console.log(data);
          // Recargar la página para mostrar los datos actualizados
          location.reload();
        })
        .catch(error => console.error('Error al actualizar datos:', error));
    }
  </script>
</body>
</html>
